$prority0: yellow;
$prority1: Orange;
$prority2: red;

//.prority0 {
//  color: $prority0;
//  background-color: $prority0;
//}
//.prority1 {
//  color: $prority1;
//  background-color: $prority1;
//}
//.prority2 {
//  color: $prority2;
//  background-color: $prority2;
//}

body {
  font-size: 14px;
  background-color: #eee;
}

.header-container {
  background-color: #5a75c9;
  color: #fff;

  header {

    padding: 15px 25px;

    h1 {
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}

.main-content {
  background-color: #fff;
  padding: 25px;
}

.priority-0 span.fa {
  color: $prority0;
  background-color: $prority0;

}

.priority-1 span.fa {
  color: $prority1;
  background-color: $prority1;

}

.priority-2 span.fa {
  color: $prority2;
  background-color: $prority2;

}

.task-list-container {

  .task {

    border-bottom: #c5c5c5 solid 1px;
    padding: 5px;

    & > div {
      float: left;
    }

    .task_priority {

      span.fa {
        width: 15px;
        height: 15px;
        display: inline-block;
      }
    }

    .task_title {

    }

    .task_project {
      float: right;
    }

    .task_settings {

      float: right;

    }

  }

}

.project-container {
  float: right;
  margin-top: 15px;
}


