$priority1: yellow;
$priority2: Orange;
$priority3: red;
$mainBgColor: #fff;

@mixin priority-color($color) {
  color: $color;
  background-color: $color;
}

body {
  font-size: 14px;
  background-color: #eee;
}

.header-container {
  background-color: #5a75c9;
  color: #fff;

  header {

    padding: 15px 25px;

    h1 {
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}

.main-content {
  background-color: $mainBgColor;
  padding: 25px;
}

.priority-0 span.fa {
  @include priority-color($priority1);
}

.priority-1 span.fa {
  @include priority-color($priority2);
}

.priority-2 span.fa {
  @include priority-color($priority3);
}

.task-list-container {

  .task {
    position: relative;
    border-bottom: #c5c5c5 solid 1px;
    padding: 10px 35px 10px 0;

    &:hover {
      .task_settings {

        &:before {
          color: #3c3c3c;
        }

      }
    }

    & > div {
      float: left;
      display: flex;
      align-items: center;
    }

    .task_priority {

      display: flex;
      align-items: center;
      text-align: center;
      margin-right: 10px;

      span.fa {
        width: 15px;
        height: 15px;
        display: inline-block;
      }
    }

    .task_title {

    }

    .task_project {
      float: right;
    }

    .task_settings {
      cursor: pointer;
      width: 25px;
      text-align: center;

      &:before {
        content: "\f142";
        font-family: FontAwesome;
        color: $mainBgColor;
        width: 100%;

      }

      position: absolute;
      right: 0;
      background: $mainBgColor;
      z-index: 99;

    }

    .settings_menu {
      position: absolute;
      right: 0;
      top: 5px;
      background: $mainBgColor;
      padding: 0 31px;

    }

  }
}

.add-form-container {
  margin: 15px 0;
  display: inline-block;
}

.task-edit-form {
  display: inline-block;
  float: left;

  input, select {
    margin-right: 5px;
  }
}

.task_project_color {
  margin-left: 5px;

  &:before {
    font-family: FontAwesome;
    content: "\f111";
  }
}

.settings_menu {
  button {
    color: #1b6d85;
    background-color: transparent;
    border: #ccc solid 1px;
    outline: none;
    padding: 4px 9px;
    margin-left: 5px;

    &:before {
      font-family: FontAwesome;
    }
  }

  button.task-button-edit {

    &:before {
      content: "\f044";
    }

  }

  button.task-button-remove {

    &:before {
      content: "\f1f8";
    }

  }
}

.project-container {
  float: right;
  margin-top: 15px;
}


